.cardGroupContainer {
    display: flex;
    position: relative;
}

.cardImageContainer {
    position: absolute;
    transform: scale(0.5) translate(-50%, -80%);
    transform-origin: top left;
    left: 50%;
    top: 0;
    z-index: 100;
}

.cardImage {
    transform-origin: center;
}