#fedFundsSliderContainer {
    --track-thickness: 16px;
    --track-length: 256px;
    --knob-diameter: 28px;
    --end-label-height: 20px;

    position: relative;
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    background:
        linear-gradient(var(--color-fed-lighter), var(--color-fed-lighter)) no-repeat,
        linear-gradient(var(--color-gray-light), var(--color-gray-light)) no-repeat;
    background-size:
        calc((var(--val) - var(--min)) * 100% / (var(--max) - var(--min))) var(--track-thickness),
        100% var(--track-thickness);
    background-position: left center, left center;
    transform-origin: top right;
    transform: rotate(-90deg);
    width: var(--track-length);
    right: calc(var(--track-thickness) - (var(--track-thickness) - var(--knob-diameter)) / 2);
    top: calc(50% - var(--track-length) / 2);
    border-radius: 999px;
}

#slider::-webkit-slider-runnable-track {
    height: var(--track-thickness);
    background: transparent;
    border-radius: 999px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: var(--knob-diameter);
    width: calc(var(--knob-diameter) * 2/3);
    border-radius: 2px;
    background: var(--color-fed-light);
    margin-top: calc((var(--track-thickness) - var(--knob-diameter)) / 2);
}

#slider::-moz-range-track {
  height: var(--track-thickness);
  background: var(--color-gray-light);
  border-radius: 999px;
}

#slider::-moz-range-progress {
  height: var(--track-thickness);
  background: var(--color-fed-light);
  border-radius: 999px 0 0 999px;
}

.endLabel {
    color: var(--color-white);
    height: var(--end-label-height);
    line-height: var(--end-label-height);
    position: absolute;
    width: calc(100% - var(--knob-diameter));
    text-align: center;
    font-family: var(--font-primary);
}

.endLabel:nth-of-type(1) {
    top: calc(50% - var(--track-length) / 2 - var(--end-label-height) / 2);
}

.endLabel:nth-of-type(2) {
    bottom: calc(50% - var(--track-length) / 2 - var(--end-label-height) / 2);
}