.cardContainer {
    height: 400px;
    width: 300px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.cardTitle {
    font-family: var(--font-primary);
    font-size: var(--font-size-header);
    text-align: center;
}

#FedFunds {
    background-color: var(--color-fed);
    color: var(--color-white);

    .backgroundOval {
        background-color: var(--color-fed-light)
    }
}

#ShortTerm {
    background-color: var(--color-treasury);

    .backgroundOval {
        background-color: var(--color-treasury-light)
    }
}

#LongTerm {
    background-color: var(--color-treasury-dark);

    .backgroundOval {
        background-color: var(--color-treasury)
    }
}

#FRM {
    background-color: var(--color-frm);
    color: var(--color-white);

    .backgroundOval {
        background-color: var(--color-frm-light)
    }
}