.cardContainer {
    height: 400px;
    width: 300px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    padding: 32px 16px 16px;
}

.cardTitle {
    font-family: var(--font-primary);
    font-size: var(--font-size-header);
    text-align: center;
}

.cardContent {
    display: flex;
    flex: 1;
}

.cardInfoContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 16px;
    justify-content: center;
}

.description {
    margin-top: 16px;
    margin-bottom: 16px;
}

#FedFunds {
    background-color: var(--color-fed);
    color: var(--color-white);
}

#FedFunds .backgroundOval {
    background-color: var(--color-fed-light)
}

#ShortTerm {
    background-color: var(--color-treasury);
}

#ShortTerm .backgroundOval {
    background-color: var(--color-treasury-light)
}

#LongTerm {
    background-color: var(--color-treasury-dark);
}

#LongTerm .backgroundOval {
    background-color: var(--color-treasury)
}

#FRM {
    background-color: var(--color-frm);
    color: var(--color-white);
}

#FRM .backgroundOval {
    background-color: var(--color-frm-light)
}