.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: var(--font-size-title);
    color: var(--color-fed)
}

.subtitle {
    font-family: var(--font-secondary);
    font-size: var(--font-size-subtitle);
    color: var(--color-gray)
}

.updateContainer {
    margin-top: 12px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
}

.spinner {
    border: 2px solid var(--color-gray);
    border-top: 2px solid transparent;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    animation: spin 1s linear infinite;
    margin-right: 8px;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.updateText {
    color: var(--color-gray);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}